@import url("header.css");
@import url("banner.css");

:root {
    --cor-de-fumdo: #EBECEE;
    --branco: #FFF;
    --laranja: #EB9800;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins", sans-serif;
}
body {
    background-color: var(--cor-de-fumdo);
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 16px;
}
